* {
    margin: 0;
    padding: 0;
}


.container {
    
    width: 90%;
    height: 100rem;
    margin:2rem auto;
    background-color: #F4F5F9;
    
    border-radius: 10px;
}

.navbarmain {
    
    height: 4rem;
}

.logo {
    background-color: #404E67;
    height: 4rem;
    float: left;
    width: 21%;
    
    
    
}

.menu {
    background-color: white;
    height: 4rem;
    box-shadow: 5px 5px 10px #404E67;
}
    
    


.cyber-heading {
    font-family: "Open Sans", sans-serif;
    color: gainsboro;
    margin-top: 1rem;
    margin-left: 2rem;
    
    width: 85%;
}

.asidebarmain {
    background-color: pink;
    width: 21%;
    height: 96rem;
    background-color: #404E67;
    font-family: "Open Sans", sans-serif;
    color: rgb(211, 207, 207);
    float: left;
   
    
}

.asidebarmain li {
    list-style: none;
    padding-left: 2rem;
    padding-bottom: 2rem;
}

.asidebarmain li a {
    text-decoration: none;
    color: rgb(211, 207, 207);
    border-bottom: 1px rgb(204, 199, 199) solid;

}

.asidebarmain li a:hover {
    color: white;
    font-size: large;
}

.search1 {
    width: 30%;
    height: 3rem;
    border-radius: 10px;
    border:1px rgb(226, 225, 225) solid;
    margin-left: 0rem;
    margin-top: 1rem;
    float: left;
}

.search1::placeholder {
    font-size: 1.3rem;
    padding-top: 1rem;
    color: #a9aebd;
    font-weight:400;
}


#searchlogo {
    margin-left: 0rem;
    margin-top: 2rem;
    color: rgb(170, 164, 164);
    width: 2rem;
    height: 1rem;
}

body {
    background-image: url(backgorundimage.jpg);
}

.usermain {
    
    width: 25%;
    float: right;
    margin-top: 0px;
    height: 4rem;
}

#notifications {
    margin-top: 2rem;
    margin-right: 2rem;
    margin-left: 4rem;
}

.user1 {
    
    width: 60%;
    float: right;
    height: 4rem;
    
}

.user1 p {
    float: right;
    margin-top: 2rem;
    margin-right: 3rem;
}

.main1 {
    
    width: 27%;
    height: 4rem;
    margin-left: 25rem;
    margin-top: 20px;font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: #404E67;
    margin-top: 4rem;
    border-bottom: #404E67 2px solid;
}

.main1 h2 {
    font-size: xx-large;
}

.asidebarmain h2 {
    color: gray;
    font-size: 1.4rem;
    margin-top: 3rem;
    margin-bottom: 1rem;
}

.main2 {
    
    width: 80%;
    height: 8rem;
    margin-top: 3rem;
    margin-left: 18rem;
    
}

.company1 {
 
 float: left;
 width: 40%;
 height: 8rem;

 border-radius: 10px;
 
}


.main2 a .company1 img {
    height: 7rem;
    float:left;
    border-radius: 100%;
    margin-top: 1rem;
    margin-left: 1rem;
    width: 7rem;
}

.main2 a .company1 h2 {
    
    font-size:2rem;
    color: #404E67;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    
    
}

.main2 a .company1:hover {
    box-shadow: 2px 2px 2px#6f81a0;
}
    
    

.company1 {
    margin-left: 4rem;
    margin-bottom: 5rem;
}

.main2 ul li {
    list-style: none;
}


.main2 a .company1 {
    box-shadow: 10px 10px 10px #6f81a0;
}

.h2 {
    height: 8rem;
    width: 70%;
    float: right;
    text-align: center;
    
}    

.h2 h2 {
    padding-top: 2.5rem;
    font-weight: 600;
}




.arama-kutusu {
	float: left;
	transform: translateY(-50%, -50%);
	background: #404E67;
	height: 2.2rem;
	border-radius: 40px;
	padding: 0.6rem;
    margin-left: 2rem;
    margin-top: 0.5rem;
    
}
.arama-kutusu:hover > .arama-metini {
	width: 13rem;
	padding: 0 0.5rem;
}


.arama-butonu {
	
	float: right;
	width: 2rem;
	height: 2rem;
	border-radius: 50%;
	background: #404E67;
	display: flex;
	justify-content: center;
	align-items: center;
	transition: 0.4s;
	color: white;
	cursor: pointer;
    
}
.arama-butonu > i {
	font-size: 1.5rem;
    padding-top: 0.5rem;
    font-weight: 600;
}
.arama-metini {
	border: none;
	background: none;
	outline: none;
	float: left;
	padding: 0;
	color: white;
	font-size: 1.4rem;
	transition: 0.4s;
	line-height: 2rem;
	width: 0px;
	font-weight: 400;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
a {
	text-decoration: none;
}

